<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="keyword-list-fragment" class="am-u-lg-8 am-u-sm-12">
    <main class="articles-list">
        <div>
            <th:block th:if="${null != blogPageResult}">
                <th:block th:each="blog,iterStat : ${blogPageResult.list}">
                    <article class="am-g blog-entry-article">
                        <div class="am-u-lg-6 am-u-lg-12 am-u-sm-12 blog-entry-text post-preview">
                            <div class="topic-header">
                                <div class="pull-left">
                                    <div class="blog-flex-center">
                                        <div class="author-lockup blog-flex1">
                                            <a class="link" th:href="@{/}" th:text="${configurations.get('sysAuthor')}"></a>
                                            <span class="in">❜ s</span>
                                            <span class="category-name">
                                                <a class="category-name" rel="tag" th:href="@{'/category/' + ${blog.blogCategoryId}}" th:utext="${blog.blogCategoryName}"> </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="pull-right time pc_time" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}">2019-01</span>
                            </div>
                            <h1 class="post-index-title"><a itemtype="url" th:href="@{'/blog/' + ${blog.blogId}}">
                                <th:block th:text="${blog.blogTitle}"></th:block>
                            </a></h1>
                            <div class="abstract vditor-reset"><p th:text="${blog.blogPreface}"></p></div>
                        </div>
                    </article>
                </th:block>
            </th:block>
            <th:block th:if="${null != blogPageResult && blogPageResult.totalPage > 0}">
                <ul class="am-pagination" th:with="isSearchPage=${searchPage == true}">
                    <li th:class="${blogPageResult.currPage==1}?'am-disabled disabled' : 'am-pagination-prev'">
                        <a th:if="${blogPageResult.currPage==1}" href="##">&laquo;</a>
                        <a th:if="${blogPageResult.currPage!=1 && isSearchPage}" th:href="@{/search(keyword=${keyword}, pageNum=${blogPageResult.currPage-1})}">&laquo;</a>
                        <a th:if="${blogPageResult.currPage!=1 && !isSearchPage}" th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage-1}}">&laquo;</a>
                    </li>
                    <li th:each="pageNumber : ${#numbers.sequence(blogPageResult.pageStart, blogPageResult.pageEnd)}"
                        th:class="${pageNumber == blogPageResult.currPage} ? 'am-active active' : ''">
                        <a th:if="${pageNumber == blogPageResult.currPage}" href="#" th:text="${pageNumber}">1</a>
                        <a th:if="${pageNumber != blogPageResult.currPage && isSearchPage}" th:href="@{/search(keyword=${keyword}, pageNum=${pageNumber})}" th:text="${pageNumber}">1</a>
                        <a th:if="${pageNumber != blogPageResult.currPage && !isSearchPage}" th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${pageNumber}}" th:text="${pageNumber}">1</a>
                    </li>
                    <li th:class="${blogPageResult.currPage==blogPageResult.totalPage}?'am-disabled disabled' : ''">
                        <a th:if="${blogPageResult.currPage==blogPageResult.totalPage}" href="##">&raquo;</a>
                        <a th:if="${blogPageResult.currPage!=blogPageResult.totalPage && isSearchPage}" th:href="@{/search(keyword=${keyword}, pageNum=${blogPageResult.currPage+1})}">&raquo;</a>
                        <a th:if="${blogPageResult.currPage!=blogPageResult.totalPage && !isSearchPage}" th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage+1}}">&raquo;</a>
                    </li>
                </ul>
            </th:block>
        </div>
    </main>
</div>
</html>
