<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment"></head>
<body id="blog">
<div th:replace="blog/amaze/header::nav-fragment"></div>
<div th:replace="blog/amaze/header::header-fragment"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-offset-1 am-u-lg-10 am-u-sm-12">
        <main class="links-list">
            <th:block th:unless="${#lists.isEmpty(favoriteLinks)}">
                <div class="title">
                    <h3>前端</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="favoriteLink : ${favoriteLinks}">
                            <li>
                                <a target="_blank" th:href="@{${favoriteLink.linkUrl}}" th:text="${favoriteLink.linkName}">前端</a> -
                                <th:block th:text="${favoriteLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(recommendLinks)}">
                <div class="title">
                    <h3>后端</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="recommendLink : ${recommendLinks}">
                            <li>
                                <a target="_blank" th:href="@{${recommendLink.linkUrl}}" th:text="${recommendLink.linkName}">后端</a> -
                                <th:block th:text="${recommendLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(personalLinks)}">
                <div class="title">
                    <h3>资料下载</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="personalLink : ${personalLinks}">
                            <li>
                                <a target="_blank" th:href="@{${personalLink.linkUrl}}" th:text="${personalLink.linkName}">资料下载</a> -
                                <th:block th:text="${personalLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
        </main>
    </div>
</div>
<!-- 引入页脚footer-fragment -->
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
</html>